---
import TextBody from "./TextBody.astro";
import TextHeading from "./TextHeading.astro";
const { produkt } = Astro.props; // Samler property med dataen op
---
<a href=https://book.easytable.com/book/?id=35dca target="_blank">
    <img src={produkt.image} alt={produkt.name} class="pb-space-100 hover:cursor-pointer">
    <dialog id={produkt.id} class="modal">
        <div class="modal-box bg-primary-500" >
            <img src={`../${produkt.image}`} alt="lorem" class="pb-space-100">
        </div>
        <form method="dialog" class="modal-backdrop">
        <button>close</button>
        </form>
    </dialog>
    <TextHeading size="xs" stylingclasses="pb-space-050">{produkt.name}</TextHeading>    
    <TextBody size="l-regular">{produkt.price}</TextBody>
</a>
