---
import Button from "./Button.astro";
import TextHeading from "./TextHeading.astro";
import TextBody from "./TextBody.astro";
const {heading, textbody1, textbody2, felt, besked, mx} = Astro.props;
---
<div class={`pb-space-1800 ${mx}`}>

    <form name="bestil">
        <TextHeading size="m-green" stylingclasses="pb-space-050">{heading}</TextHeading>
        <TextBody size="l-regular" stylingclasses="pb-space-050">{textbody1}</TextBody>
        <TextBody size="l-regular" stylingclasses="pb-space-300">{textbody2}</TextBody>

        <!-- Fuld navn felt -->
        <div class="grid mb-6">
            <label for="full-name" class="pb-space-050">Dit fulde navn</label>
                <input
                    class="border-1 border-accent-600 p-space-050"
                    placeholder="Peter Jensen"
                    id="full-name"
                    name="fname"
                    type="text"
                    required
                />
        </div>

        <!-- Email felt -->
        <div class="grid mb-6">
            <label for="email" class="pb-space-050">E-mail</label>
                <input
                    class="border-1 border-accent-600 p-space-050"
                    placeholder="peter@mail.dk"
                    id="email"
                    name="email"
                    type="email"
                    required
                />
        </div>

        <!-- Telefonnummer felt -->
        <div class="grid mb-6">
            <label for="telephone" class="pb-space-050">Telefonnummer</label>
                <input
                    class="border-1 border-accent-600 p-space-050"
                    id="telephone"
                    name="telephone"
                    type="tel"
                    placeholder="12 34 56 78"
                    required
            />
        </div>

        <!-- Besked felt -->
        <div class="grid mb-6">
            <label for="bestilling" class="pb-space-050">{felt}</label>
                <textarea
                    id="bestilling"
                    name="bestilling"
                    placeholder={besked}
                    class="border-1 border-accent-600 p-space-050 resize-none h-32"
                    required
                ></textarea>
        </div>

        <div class="mb-6">
            <p class="font-bold">Yderligere tilvalg</p>
            <div class="flex flex-col gap-2 mt-2">
                <label class="flex items-center gap-2">
                <input type="checkbox" checked="checked" class="checkbox"/>Jeg stoler på at i behandler mine data indefor GDPR Logivning
                </label>
            </div>
        </div>

        <!-- Bekræft knap -->
        <Button class="pb-space-200">Bestil nu</Button>
    </form>
</div>
