---
import TextBody from "./TextBody.astro";
import TextDisplay from "./TextDisplay.astro";
import FullBleedSection from "./FullBleedSection.astro";
const { image, alt, display, textbody, stylingclasses } = Astro.props;
---

<FullBleedSection>
    <div class={`relative ${stylingclasses}`}>
        <div>
            <img src={image} alt={alt} class="w-full object-cover object-center brightness-50 h-130 md:max-h-180"/>
        </div>

        <div class="absolute inset-0 flex flex-col items-center justify-center z-10 text-center px-space-600 lg:px-space-1400 xl:px-space-2000">
            <TextDisplay stylingclasses="pb-space-200">{display}</TextDisplay>
            <TextBody size="xl-regular" stylingclasses="text-primary-50 pb-space-200 px-space-600 md:px-space-1400 lg:px-space-3000">{textbody}</TextBody>
        </div>

    </div>
</FullBleedSection>