---
import TextBody from "./TextBody.astro";
import TextHeading from "./TextHeading.astro";
const { image, alt, heading, textbody1, textbody2, textbody3 } = Astro.props;
---

<section class="pb-space-1800 -mx-10 md:-mx-60">
    <div class="bg-primary-500">
        <div class="grid xl:grid-cols-2 place-items-center gap-8 px-space-500 lg:px-space-2400 py-space-1600">        
        
            <div>
                <TextHeading size="xl" stylingclasses="pb-space-025">{heading}</TextHeading>
                <TextBody size="l-regular" stylingclasses="pb-space-100">{textbody1}</TextBody>
                <TextBody size="l-regular" stylingclasses="pb-space-100">{textbody2}</TextBody>
                <TextBody size="l-regular" stylingclasses="pb-space-200">{textbody3}</TextBody>
            </div>

            <div class="md:pl-space-500">
                <img src={image} alt={alt} class="w-100 h-auto md:w-150 md:h-auto object-cover"/>
            </div>
        </div>
    </div>
</section>